
body {

	background: #D9DBD4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#callstable {

	padding: 10px;
    z-index: 1;
	text-align: center;
	border-radius: 2px;
	background: #FEFEFE;
	color: #000;
    font-weight: 700;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 1px 1px #444444;

}


td {
 padding: 10px;

 }


tr:nth-child(even) {background:red}
tr:nth-child(odd) {background:green}